# Секретные ключи и переменные окружения
.env

# Локальная база данных SQLite (она не должна быть в Git)
chatbot.db

# Векторная база данных FAISS (она слишком большая для Git)
faiss_vector_db/

# Папки Python
__pycache__/
venv/
*.pyc